<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codepath.apps.rottentomatoes">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name="codepath.apps.rottentomatoes.BoxOfficeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="codepath.apps.rottentomatoes.BoxOfficeDetailActivity" android:label="BoxOfficeDetails">
        </activity>
    </application>

</manifest>
